.friendsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.friendsItem {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 240px;
    padding: 10px;

    border: 1px solid #eee;
    box-shadow: 1px 1px 2px;
}