.statistics {
    border: 1px solid #eee;
}

.list,
.item {
    display: flex;
    align-items: center;
}

.item {
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
    width: 38px;
}

.title {
    padding: 20px;

    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
}

.label {
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding-bottom: 10px; 
}
  
  .percentage {
    font-size: 15px;
    font-weight: 500;
    color: white;
  }